@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: var(--font-body);
}

*:focus {
  outline: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
}

.font-heading {
  font-family: var(--font-heading);
}
